@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
*{font-family:'Open Sans';font-style:normal;font-weight:300;outline:0 none;font-size:12px;}
a:visited,a:hover,a:active{color:inherit;text-decoration:none;}
.row-centered {text-align:center;}
.col-centered {display:inline-block;float:none;text-align:left;margin-right:-4px;}
#main{background-color:#222222;border-top:solid 10px #333333;height:100vh;position:relative;}
.cont_login{max-width:330px;width:100%;/* max-height:330px;height:100%; */position:absolute;margin-top:-165px;margin-left:-165px;top:50%;left:50%;}
.cont_login h3{margin:0;margin-bottom:50px;color:#FFF;text-align:center;}
input[type="text"],input[type="password"]{border-radius:0;border-color:#FFF;}
form input{font-size:12px!important;}
form #remember label{color:#FFF;font-weight:300;margin-left:5px;}
form #remember input{margin-top:0;}
.circle_btn{height:100px;width:100px;margin:0 auto;float:none;border-radius:50%;border:solid 3px #FFF;padding:3px;position:relative;
	perspective: 800px;}
.inner_cir{border-radius:50%;border:solid 5px #FFF;padding:3px;height:84px;width:84px;position:absolute;top:50%;left:50%;margin-top:-42px;margin-left:-42px;
  transform-style: preserve-3d;
  transition: transform 1s;}
.inner_cir .cont_{width:68px;height:68px;}
.inner_cir .giro{backface-visibility: hidden;position:absolute;width:100%;height:100%;}
.inner_cir.flipped {transform: rotateY( 180deg );}
.inner_cir .back{transform: rotateY( 180deg );}
.inner_cir .giro img{border-radius:50%;max-width:68px;}
.inner_cir .giro button{border-radius:50%;display:block;background-color:#96C14E;top:50%;left:50%;position:absolute;width:64px;height:64px;line-height:64px;border:0;color:#FFF;padding:0;margin-top:-35px;margin-left:-29px;}
.footer{position:absolute;bottom:0;width:100%;text-align:center;}
.footer *{color:#FFF;}

.btn_switch{text-align:right;}
.btn_switch a{color:#FFF;}
.btn_switch a:hover{opacity:0.5;}
