#products{
   .product-card{
      border-radius: 10px;
      background-color: #ffffff;
   }
   img{
      max-height: 120px;
   }
   h2{
     color: $blue; 
   }
   h3{
      color: $cyan;
      font-size: 1rem;
      margin-bottom: 0px;
   }
   p{
      font-size: .9rem;
   }
}