#products{
   .product-card{
      border-radius: 2px;
    background-color: #ffffff;
    border: 0 !important;
    box-shadow: 0px 0px 10px #0000003d !important;
}
   }
   img{
      max-height: 120px;
   }
   h2{
     color: #C5003E; 
   }
   h3{
      color: #C5003E;
      font-size: 1rem;
      margin-bottom: 0px;
   }
   p{
      font-size: .9rem;
   }
}
