{% extends "base.html" %}
{% load static thumbnail%}

{% block title %}Test Auditivo{% endblock %}
{% block body_class %}soluciones test_auditivo{% endblock %}

{% block main_content %}

<br>
      <img src="{% static 'images/testauditivo.jpg' %}" width="100%" class="d-none d-lg-block">
      <img src="{% static 'images/testauditivomob.jpg' %}" width="100%" class="d-none d-xs-block">
  <!--Test-->
  
  <!--End Test-->





<!-- Preguntas -->
<div class="container py-5">

<iframe class="hearing-screener-iframe" src="https://hearing-screener.beyondhearing.org/3E7rVh/" seamless></iframe>
 
</div>
<!-- end Preguntas -->





<!--Cita y test-->


  
    
  
 
  <!--End Cita y Test-->
{% include 'includes/buscar-centro.html' %}

{% endblock %}
