{% extends "base.html" %}
{% load static thumbnail widget_tweaks %}

{% block title %}{{ page_title }}{% endblock %}
{% block body_class %}soluciones test_cita{% endblock %}

{% block extra_head %}
<style>
  div.contact-info {
    position: absolute;
    bottom: 10px;
  }

  @media (max-width: 1000px) {

    div.contact-info h4 {
      font-size: 15px;
    }
    
  }

  @media (max-width: 500px) {

    div.contact-info h4 {
      font-size: 15px;
      line-height: 10px;
    }
    
  }

  @media (max-width: 400px) {

    div.contact-info h4 {
      font-size: 11px;
      line-height: 6px;
    }

    div.contact-info {
      bottom: 5px;
    }
    
  }

</style>
{% endblock %}

{% block main_content %}


<br>
      <img src="{% static 'images/contacto.jpg' %}" width="100%">






<!-- Preguntas -->
<div class="container py-5">
<div class="col-md-8 col-sm-12 mx-auto">
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="row">
<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="textinput">Nombre</span> *</label>  
  <div class="">
    {% render_field form.name class="form-control" %} 
    {{ form.name.errors }}
  </div>
</div>

<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="selectbasic">Apellido *</label>
  <div class="">    
    {% render_field form.last_name class="form-control" %} 
    {{ form.last_name.errors }}
  </div>
</div>

{% if form.email %}
<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="selectbasic">Correo Electrónico *</label>
  <div class="">    
    {% render_field form.email class="form-control" %} 
    {{ form.email.errors }}
  </div>
</div>
{% endif %}

{% if form.phone %}
<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="selectbasic">Teléfono o Celular *</label>
  <div class="">    
    {% render_field form.phone class="form-control" %} 
    {{ form.phone.errors }}
  </div>
</div>
{% endif %}

{% if form.subject %}
<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="selectbasic">Motivo del Contacto *</label>
  <div class="">    
    {% render_field form.subject class="form-control" %} 
    {{ form.subject.errors }}
  </div>
</div>
{% endif %}

{% if form.store %}
<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="textinput">Centro de Atención Audical *</label>  
  <div class="">    
    {% render_field form.store class="form-control input-md" %} 
    {{ form.store.errors }}
  </div>
</div>
{% endif %}

{% if form.body %}
<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="textinput">Comentarios *</label>  
  <div class="">    
    {% render_field form.body class="form-control input-md" %} 
    {{ form.body.errors }}
  </div>
</div>
{% endif %}

<div class="form-group col-12 col-sm-6 ">
  <label class="control-label" for="textinput"></label>  
  <div class="">    
    {{ form.captcha }}
    {{ form.captcha.errors }}

  </div>
</div>


<div class="form-group col-12 text-center">
    <button id="singlebutton" name="enviar" class="text-white btn-send font-weight-bold mt-1">Enviar</button>
</div>

</div>

</form>

</div>
</div>
<!-- end Preguntas -->





<!--Cita y test-->


  <div id="test" class="py-1 half_test">
          <h2 class="text-uppercase text-light title-test text-md-center">Test auditivo</h2>
          <p class="text-light description pt-2 pb-3 text-md-center">Sepa rápidamente si tiene algún síntoma<br>de pérdida auditiva.</p>
          <div class="text-md-center pb-5"><a class="text-light btn-cita btn-cita-inner" href="{% url 'test' %}">Realizar test</a></div>
  </div>
  
    
  
 
  <!--End Cita y Test-->

{% include 'includes/buscar-centro.html' %}

{% endblock %}
