{% extends "base.html" %}
{% load static thumbnail widget_tweaks custom_tags %}
{% load i18n %}

{% block title %}Registro{% endblock %}
{% block body_class %}test_cita{% endblock %}

{% block main_content %}
<div class="container py-5">
<div class="col-md-8 col-sm-12 mx-auto">
<form class="form-horizontal" action="" method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label> <br>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input class="btn bnt-success"  type="submit" value="{% trans 'Change my password' %}" />
</fieldset>
</form>
</div>
</div>
{% endblock %}