{% extends "base.html" %}
{% load static thumbnail widget_tweaks custom_tags %}
{% load i18n %}

{% block title %}Registro{% endblock %}
{% block body_class %}test_cita{% endblock %}

{% block main_content %}
<div class="container pt-2 pb-5">
<div class="col-12 col-md-4 mx-auto">
<h1 class="text-center mb-3 pb-1 font-weight-bold text-uppercase registroh1">{% trans 'Restablecer contraseña' %}</h1>
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="row">
<div class="col-12">
  <label class="control-label" for="textinput">{% trans 'Email address:' %}</label>  
  <div class="">    
    {% render_field form.email class="form-control input-md" type="email" %} 
    {{ form.email.errors }}
  </div>
</div>

<div class="col-12">
    <button id="singlebutton" name="enviar" class="text-white btn-send font-weight-bold mt-1 w-100">{% trans 'Reset my password' %}</button>
</div>

</div>

</form>

</div>
</div>
{% endblock %}