<!--Cita y test-->
<div class="container-fluid">
 <div class="row"> 

  <div id="cita" class="col-md-6 half_cita">
          <h2 class="text-uppercase text-light title text-md-right">Agende su cita</h2>
          <p class="text-light description pt-2 pb-3 text-md-right">Si lo desea puede agendar su próxima<br>cita con nuestras fonoaudiólogas.</p>
          <div class="text-md-right"><a class="text-light btn-cita btn-cita-inner" href="{% url 'cita' %}">Agendar cita</a></div>
  </div>
   
 

  <div id="test" class="col-md-6 half_test">
          <h2 class="text-uppercase title-test text-light">Test auditivo</h2>
          <p class="description pt-2 pb-3 text-light">Sepa rápidamente si tiene algún síntoma<br>de pérdida auditiva.</p>
          <a class="text-light btn-cita btn-cita-inner" href="{% url 'test' %}">Realizar test</a>
      </div>
    
  </div>
</div>  
  <!--End Cita y Test-->