<!--Cita y test-->
<div class="container" style="border-top: 1px solid #d8d8d8;
    margin-top: 20px;
    padding-top: 40px;">
 <div class="row"> 

  <div id="cita" class="col-md-6 half_cita" style="text-align:center">
   <span class="material-icons mr-1" style="font-size:60px;">calendar_today</span>
          <h2 class="text-uppercase title">Agende su cita</h2>
          <p class="description pt-2 pb-3">Si lo desea puede agendar su próxima<br>cita con nuestras fonoaudiólogas.</p>
          <div class="text-md"><a class="btn-cita btn-cita-inner" href="{% url 'cita' %}">Agendar cita</a></div>
  </div>
   
 

  <div id="test" class="col-md-6 half_test" style="text-align:center">
   <span class="material-icons mr-1" style="font-size:60px;">hearing</span>
          <h2 class="text-uppercase title-test">Test auditivo</h2>
          <p class="description pt-2 pb-3">Sepa rápidamente si tiene algún síntoma<br>de pérdida auditiva.</p>
          <a class="btn-cita btn-cita-inner" href="{% url 'test' %}">Realizar test</a>
      </div>
    
  </div>
</div>  
  <!--End Cita y Test-->
