{% load static thumbnail products_tags %}

<!-- Modal -->
<div class="modal fade" id="filtros_mobile" tabindex="-1" role="dialog" aria-labelledby="filtros_mobileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filtros_mobileLabel">Filtrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <ul class="list-unstyled text-left text-uppercase pt-3 pt-md-5">
          {% for key, cat in categories.items %}
            <li {% if category_slug.0 == cat.slug %}class="active"{% endif %}><a href="{% url 'product_brand_list' brand_slug=brand.slug %}?category={{cat.slug}}" >{{cat.name|capfirst}}</a></li>
          {% endfor %}                   
      </ul>      
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


