 {% load static %}
 <!--When-->
              <div class="container-fluid my-5" style="text-align:center; color: #fff !important; padding: 50px;" id="services">
                     <div>
                        <span class="material-icons mr-1" style="font-size:80px;">location_on</span>
                        <h3 class="text-lg text-uppercase" style="padding:10px 0; font-weight:400; color:#fff">Estamos en todo el Uruguay</h3>
                     </div>
                     <p>Hay un centro Audical cerca de tu casa. Te esperamos.<br>
                     Nuestro Horario de Atención es de Lunes a Viernes de 09:00 a 18:00 hs.</p>
                     <a class="btn btn-primary rounded-pill" href="{% url 'donde-encontrarnos' %}">Buscar Centro</a>
                </div>

  <!--End When-->
