 {% load static %}
 <!--When-->
              <div class="container my-5 align-self-center">
                     <div>
                        <span class="material-icons mr-1" style="font-size:80px;">location_on</span>
                        <h3 class="text-lg text-uppercase" style="padding:10px 0; font-weight:400;">Estamos en todo el Uruguay</h3>
                     </div>
                     <p>Hay un centro Audical cerca de tu casa. Te esperamos.<br>
                     Nuestro Horario de Atención es de Lunes a Viernes de 09:00 a 18:00 hs.</p>
                     <a class="btn btn-primary rounded-pill" href="/donde-encontrarnos/">Buscar Centro</a>
                </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-5 mt-2 d-none d-md-block">
        <img src="{% static 'images/icon-ubicacion-01.svg' %}" class="img-fluid">
      </div>
      <div class="col-md-7 mt-5 findus">
        <h2 class="text-uppercase font-weight-bold title-test pt-5">Estamos en todo el Uruguay</h2>
        <p class="">Hay un centro Audical cerca de tu casa. Te esperamos.</p>
        <p><small>Nuestro Horario de Atención es de Lunes a Viernes de 09:00 a 18:00 hs.</small></p>
        <br>
        <a class="text-white btn-where font-weight-bold mt-5" href="{% url 'donde-encontrarnos' %}">Buscar Centro</a>
      </div>
    </div>
  </div>
  <!--End When-->
