{% load static %}
<section class="py-5 paymen-method">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-2 mt-2">
                <h4 class="text-uppercase font-weight-bold">Métodos de Pago Online</h4>
                <hr>
            </div>
            <div class="col-md-6 col-12 mb-2">
              <h5 class="mb-2">Tarjetas de Crédito</h5>
              <img class="img-fluid pr-0" src="{% static 'images/tarjetas-payment.png' %}">
            </div>
            <div class="col-md-6 col-12 mb-2">
              <h5 class="mb-2">Bancos</h5>
              <img class="img-fluid pr-0" src="{% static 'images/bancos-payment.png' %}">
            </div>
            {% comment %}
            <div class="col-md-3 col-12 mb-2">
              <h5 class="mb-2">Redes de cobranza</h5>
              <img class="img-fluid pr-0" src="{% static 'images/redes-payment.png' %}">
            </div>
            {% endcomment %}
        </div>
        <div class="row">
          <div class="col-12 mb-2 mt-4">
            <a href="https://www.audical.com.uy/noticias/detail/politica-de-devolucion-de-articulos-comprados-en-la-web/" target="_blank">Política de devolución</a>
          </div>
      </div>

    </div>
  </section>