{% load static thumbnail products_tags %}

<section class="pt-5 paymen-method">
      <div class="container">
         <div class="row">
            <div class="col-12 mb-2 mt-2">
               <h4 class="text-uppercase" style="color:#C5003E; font-weight:400">Métodos de Pago Online</h4>
            </div>
            <div class="col-md-6 col-12 mb-2">
               <h5 class="mb-3 mt-2" style="font-weight:400">Tarjetas de Crédito</h5>
               <img class="img-fluid pr-0" src="https://www.audical.com.uy/static/images/tarjetas-payment.png">
            </div>
            <div class="col-md-6 col-12 mb-2">
               <h5 class="mb-3 mt-2" style="font-weight:400">Bancos</h5>
               <img class="img-fluid pr-0" src="https://www.audical.com.uy/static/images/bancos-payment.png">
            </div>
         </div>
         <div class="row">
            <div class="col-12 mb-2 mt-4">
               <a style="color:#000;" href="https://www.audical.com.uy/noticias/detail/politica-de-devolucion-de-articulos-comprados-en-la-web/" target="_blank">Política de devolución</a>
            </div>
         </div>
      </div>
      <div class="container-fluid p-3 mt-4">
         <div class="row">
            <div class="col-12 col-md-3 offset-md-3 offset-lg-3 text-center text-md-right mb-3 mb-md-0">
               <span class="mr-2 font-weight-bold">Seguinos en:</span>
               <a href="https://es-la.facebook.com/AudicalUY/" target="_blank">
                  <img class="mr-1" src="static/images/facebook.svg" width="35px" height="35px" alt="">
               </a>
               <a href="https://www.instagram.com/audicaluy/" target="_blank">
                  <img class="mr-1" src="static/images/instagram.svg" width="35px" height="35px" alt="">
               </a>
               <a href="https://www.youtube.com/channel/UCesjuhEmPICCY2wukW8K6sQ" target="_blank">
                  <img src="static/images/youtube-footer.svg" width="35px" height="35px" alt="">
               </a>
            </div>
            <div class="col-12 col-md-4 text-center text-md-left">
               <span class="mr-2 font-weight-bold">Tiendas oficiales:</span>
               <a href="https://www.pedidosya.com.uy/restaurantes/montevideo/audical-casa-central-menu?search=audical " target="_blank" class="mr-2">
                  <img src="static/images/pedidos-ya.svg" alt="">
               </a>
               <a href="https://tienda.mercadolibre.com.uy/audical" target="_blank">
                  <img src="static/images/mercado-libre.svg" alt="">
               </a>
            </div>
         </div>
      </div>
   </section>
