@font-face {
    font-family: 'valueregular';
    src: url('value-regular-webfont.woff2') format('woff2'),
         url('value-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'valuebold';
    src: url('value-bold-webfont.woff2') format('woff2'),
         url('value-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.text-sm {
  font-size: .75rem;
  font-weight: 600;
  line-height: .8rem;
}

.text-md {
  font-size: 1.375rem;
}

.text-lg {
  font-size: 2.5rem;
  line-height: 2.3rem;
}

#footer a {
  line-height: 1.25rem;
}

.card.bg-dark.text-white {
    background: none !important;
    border: 0;
}

body {
  font-family: 'valueregular';
}
@media (max-width: 992px) {
  .text-lg {
    font-size: 2.1rem;
    line-height: 1.75rem;
  }
  .text-md {
    font-size: 1.15rem;
    line-height: 1.4rem;
  }
}
#navbar .btn-search {display:none !important}
body {
  color: #000000;
}

.gradient-blue, #navbar .btn-search:hover, #header {
  
      background: #C5003E!important;
      color: #ffffff !important;
}
#header {
  background:#fff !important;
}
#navbar .btn-cart {
    color: #fff !important;
    background: #c6003e;
    padding: 6px 20px;
  border:1px solid #c6003e !important;
    border-radius: 20px;
  margin-top:-4px;
}

#navbar .btn-cart:hover {
    color: #c6003e !important;
    background: #fff;
    border:1px solid #c6003e !important;
}

.gradient-blue a, #innerNavbar a, #navbar .btn-search:hover a, #header a {
  color: #ffffff !important;
}

.gradient-green, #services {
  background: #c5003e;
  background: -webkit-gradient(linear, top, bottom, from(#a91237), to(#c5003e));
  background: linear-gradient(0deg, #a91237 0%, #c5003e 100%);
  color: #c5003e !important;
}

.img-bar-bottom {
  margin-bottom: -1px;
}

.img-bar-top {
  margin-top: -1px;
}

.btn {
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: .75rem;
    font-family: 'valuebold'
}


.btn-primary {
  background-color: #c5003e;
  border-color: #c5003e;
  border-width: 2px;
}

.btn-outline-primary {
  color: #c5003e;
  border-color: #c5003e;
  border-width: 2px;
font-family: 'valuebold'
}

.btn-primary:hover {
  color: #c5003e!important;
  border-color: #c5003e!important;
  background:#fff !important;
  border-width: 2px;
  cursor: pointer !important;
}

.btn-outline-primary:hover {
  color: #fff!important;
  border-color: #c5003e;
  background:#c5003e !important;
  border-width: 2px;
  cursor: pointer !important;
}

.btnwhite{
  border-color: #fff !important;
  color: #fff !important;
  border-width: 2px;
}
.btnwhite:hover{
  border-color: #fff !important;
  color: #000 !important;
  background:#fff !important;
  border-width: 2px;
  cursor: pointer !important;
}

.divider {
  width: 60px;
  height: 4px;
  border-radius: 2px;
  margin: 15px 0px;
}

.slick-slide, .slick-active, .slick-center {
  opacity: .5;
  outline: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.slick-current {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

span.icon-big {
  font-size: 2rem;
  color: #1EDCD0;
}

#innerNavbar {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #C5003E !important;
}

#innerNavbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#innerNavbar .navbar-icon {
  height: 16px;
}

#navbar .brand {
  width: 180px;
}

@media (max-width: 992px) {
  #navbar .brand {
    width: 120px;
  }
  .brand .img-fluid {
    max-width: 200% !important;
    margin-left: 20px;
}
  #navbar .btn-cart {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0.75rem;
}
  #navbar #navbarNav ul {
    padding-top: 1rem;
    margin-top: .5rem;
    padding-bottom: 1rem;
  }
  #navbar #navbarNav .text-sm {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1rem;
  }
}

#navbar #navbarNav a {
  color: #000000;
  border-bottom: 3px solid #FFFFFF;
    font-family: 'valuebold';
    font-size: 14px;
}

#navbar #navbarNav a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #C5003E;
}

#navbar .btns-others a:hover {
  text-decoration: none;
}

#navbar .btn-cart {
  color: #555555;
}

#navbar .btn-cart:hover {
  color: #c5003e;
  border-bottom: 2px solid #1EDCD0;
  padding-bottom: 5px;
}

#navbar .btn-search {
  background-color: #c5003e;
  padding: .75rem;
  border-radius: 50%;
  color: #ffffff;
}

#products .product-card {
  border-radius: 1px;
  border: 1px solid #fff !important;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px #00000057 !important;
}

.card-img-overlay {
    padding: 0 !important;
    border-radius: 0 !important;
}

#products img {
  max-height: 120px;
}

#products h2 {
  color: #c5003e;
  font-size: 1.3rem;
    font-family: 'valuebold'
}

#products h3 {
  color: #c5003e;
  font-size: 1.3rem;
  margin-bottom: 0px;
}

#products p {
  font-size: .9rem;
  color:#000;
}

#featured h3 {
  color: #c5003e;
}

#featured .material-icons {
  color: #C5003E;
}

#services {
  position: relative;
}

#services .woman {
  background-image: url(../../assets/images/woman.png);
  background-repeat: no-repeat;
  background-size: cover;
    width: 200px;
    max-width: 200px;
    margin-top: -50px;
}

#services .img-bar-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 5;
}

#why {
  color: #c5003e;
}

#why .material-icons {
  color: #c5003e;
}

#news {
  background-color: #F3F3F3;
}

#news h2, #news h4 {
  color: #c5003e;
}
#navbarNav .nav-item .dropdown-menu a.dropdown-item {
 font-size: small !important;
}

#navbarNav .nav-item .dropdown-menu a.dropdown-item:hover {
  color: #fff !important;
}

.btn-search {
  background-color: #a3a3a3;
  padding: .75rem;
  border-radius: 50%;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */


.slides .smooth {
  opacity:0.3;
}
